<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.thhy.fixedassets.dao.KindDao">
    <select id="findKindNameByKindId" resultType="Kind">
        select kind_id,kind_name from kind
        <where>
            <if test="kindId!=null">
                kind_id=#{kindId}
            </if>
        </where>
    </select>
    <select id="findKindAllByKindId" resultType="Kind">
        select * from kind where kind_id=#{kindId}
    </select>
    <insert id="addNewKind">
        insert into kind(kind_name)
        values (kindName)
    </insert>
</mapper>